/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
div{
    background-color: #F2F2F2;
}
.container-2{
    float: left;
    width: 50%;
    text-align: center;
}
.for-iframe{
    float: right;
    width: 50%;
}
#render-wiki{
    display: block;
    width: 100%;   
}
.container-1{
    display: inline-block;
}
.container-3{
    text-align: center;
}